<header>Gamers Unite</header>
<div class="row align-center mb-5">
  <div class="col-md-6">
    <h2>About us</h2>
    <p>Testing text block hello</p>
  </div>
  <div>
    <h2>Introduction</h2>
    <pTesting text block hello></p>
  </div>
</div>
<div class="nav">
    <a class"btnn" href="/contact-us">Contact Us</a>
    <a class"btn" href="/feedback">Feedback</a>
</div>
