<div class="row align-center mb-5">
    <div>
      <nav>
        <ul>
          <li><a href="#" id="logout">Logout</a></li>
        </ul>
      </nav>
    </div>
</div>
<div class="col-md-6"></div>
    <h2 class="display-flex justify-space-between align-center p-2">Introduction</h2>
    <p class="display-flex justify-space-between align-center p-2">Here at Gamers Unite our vision was simple, 
      yet it lacked the developmental creative process. That’s where we turned our idea into a reality and 
      created this social networking hub of an application. Our goal was to provide a platform in which each 
      user is able to create their own profile. Thus labeling their gaming interests, ranks, and preferences 
      to be further matched appropriately with others around the world. We hope you all enjoy the product, it’s 
      also worth mentioning this application is a (work in progress) with the trajectory of reaching it’s full potential. 
      With that being said some things are subject to change and more will be added as we find it suitable. Feel free to 
      leave us some feedback and or contact us with questions in the links provided at the bottom of the browser. 
      As we are open to suggestions and would love to share our secrets, tips, and our road to success for those interested.</p>
  </div>
<div class="row align-center mb-5">
  <div class="col-md-6">
    <h2 class="display-flex justify-space-between align-center p-2">About us</h2>
    <p class="display-flex justify-space-between align-center p-2">Allow us to formerly introduce ourselves and raise the curtain to this brain child. Starting off we have Tim Olson a determined Web Developer with an edge for detail and abundance, the sky is the limit for this individual. Next up we have Raul Valverde a Full-Stack Developer who’s motivation and expertise keeps others going. Last up is Taylor Brown an aspiring Front-End Web developer with a niche for styling and creating structural foundations as a steeping stone for the final polished product. Our strong abilities individually allowed us all the creative freedom to do as we pleased. And our differences pushed us to help one another and learn some things of our own. Couldn’t have asked for a better team to bring this project to light, we thank you all for your visitation and support!</p>
  </div>
</div>
{{!-- <div class="nav">
    <a class="contact" href="/contact-us">Contact Us</a>
    <a class="feedback" href="/feedback">Feedback</a>
</div> --}}

<script src="../js/logout.js" type="text/javascript"></script>
